body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  padding: 10px;
  justify-content: center;
}
.box {
  background: #2a2a2a;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0);
  text-align: center;
}
iframe {
  width: 100%;
  height: 100vh;
  border: none;
  display: block;
}

header {
  background-color: #111;
  padding: 20px;
}

.box img {
  width: 100%;
  height: 176px;
  object-fit: cover;
  border-radius: 5px;
}

.box a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

.box a:hover {
  color: #686df2;
}
